* {
    box-sizing: border-box;
}

.container {
    margin: 10px;
    padding: 5px;
    background-color: whitesmoke;
}

.grid-container {
    display: grid;
    grid-template-columns: auto;
    margin-top:5px;
    max-width:100%;
    /*background-color: #2196F3;*/
}

label {
    font-size: 12px;
    color:black;
}

.grid-item {
    /*background-color: rgba(255, 255, 255, 0.8);*/
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 10px;
}

/*.column:hover {
    border: 2px solid #264653; c9def4 #E1EFF9
}*/
.divTiltle {
    /*position:absolute;*/
    width: 100%;
    height: 170px;
    background-color: #ebf4f5;
    margin-top: 5px;
    border-radius: 3px;
    padding: 5px;
    display: block;
}

.divTopic {
    /*position: absolute;*/
    width: 100%;
    height: 100px;
    background-color: #ebf4f5;
    margin-top: 10px;
    border-radius: 3px;
    padding: 5px;
    /*background-image: url(../../images/newemployee.png);
    background-repeat: no-repeat;
    background-size: 50px 50px;*/
}

.button {
    background-color: #208b3a; /* Green */
    border: none;
    color: white;
    padding: 1px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 3px 0px 3px 0px;
    cursor: pointer;
    width: 100%;
    border-radius: 2px;
    /*height: 30%;*/
}

    .button:hover {
        background-color: #f0e9d5; /*  */
        color: black;
    }

.btnBlue {
    background-color: #008CBA;
}
/* Blue */
.btnRed {
    background-color: #f44336;
}
/* Red */
.btnGray {
    background-color: #e7e7e7;
    color: black;
}
/* Gray */
.btnBlack {
    background-color: #555555;
}
/* Black */

.btnOrange {
    background-color: #f78e31;
}
/* Orange */
.btnYellow {
    color: black;
    background-color: #fcec52;
   
}
 
/* yellow */

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

table, th, td {
    border: 1px solid;
    border-color: lightgray;
    padding: 5px;
    font-size: 12px;
   
 
}
table {
    width: 95%;
    
}

    tr, td {
        /*border-radius: 5px;*/
        border: 1.5px solid black;
        border-color: lightgray;
        margin: auto;
    }



#tbottom {
    background-color: #E5E0FF;
    font-size: small;
    width: 250px;
  
    /*padding: 8px;
    margin: auto;*/
}

.tbpurple {
    background-color: #E5E0FF;
}
.tbgreen {
    background-color: #c7ffd0;
}
.tbgreenB {
    background-color: #94ffa6;
}

.tbpurpleB {
    background-color: #db94ff;
}

#Bottomtable {
    border-radius: 20px;
    font-size:4px;
}

tlabel {
    font-size: 11px;

  
}

button {
    display: block;
    padding: 8px;
    margin: auto;
    border-radius: 3px;
    font-size: medium;
    border: none;
    background-color: lightsalmon;
}

#insertdata {
    background-color: white;
    background-color: aliceblue;
    padding: 8px;
    margin: auto;
    font-size: medium;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

#other {
    border-radius: 5px;
    border: none;
    background-color: white;
}

#textbox {
    border-radius: 5px;
    border: none;
    background-color: white;
}

#box {
    width: 1000px;
    height: 250px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: aliceblue;
    font-size: medium;
    margin-left: auto;
    margin-right: auto;
}

#box2 {
    width: 950px;
    height: 100px;
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 20px;
    background-color: white;
}

#bflie {
    background-color: lightskyblue;
    font-size: small;
    width: 250px;
    padding: 8px;
    margin: auto;
}

#bflie2 {
    background-color: lightyellow;
    font-size: small;
    width: 550px;
    padding: 8px;
    margin: auto;
}

#bflieD {
    background-color: lightskyblue;
    padding: 4px;
    margin: auto;
}

#bflie3 {
    background-color: palegreen;
    font-size: small;
    width: 100px;
    padding: 8px;
    margin: auto;
}

#bflie4 {
    background-color: lightskyblue;
    font-size: small;
    width: 70px;
    padding: 8px;
    margin: auto;
}

#bottomtable {
    border: none;
    border-radius: 10px;
    border: 1px solid black;
    overflow: hidden;
}

#Toptable {
    width: 95%;

}

.btnadd {
    background-image: url(../../images/add.png);
   
    /*background-color: transparent; /* make the button transparent */
    /*background-repeat: no-repeat;*/ /* make the background image appear only once */
    /*background-position: 0px 0px; /* equivalent to 'top left' */
    border: none; /* assuming we don't want any borders */
    cursor: pointer; /* make the cursor like hovering over an <a> element */
    height: 16px; /* make this the size of your image */
    padding-left: 16px; /* make text start to the right of the image */
    vertical-align: middle; /* align the text vertically centered */
}
.input-with-image {
    background-image: url(../../images/calen2.png);
    background-size: 20px 20px; /* set the size of your image */
    background-position: 5px center; /* set the position of your image */
    background-repeat: no-repeat;
    padding-left: 45px; /* add some padding to make room for the image */
    width: 80%;
    font-size: 12px;
    font-weight: 400;
}

.pagination {
    display: flex;
    justify-content: flex-end;
    margin:5px;
    margin-right:10px;
    /*margin-top: 20px;*/
}

    /* Pagination Links */
    .pagination a {
        padding: 4px 8px;
        margin: 0 5px;
        border: 1px solid #ddd;
        border-radius: 5px;
        text-decoration: none;
        color: #007bff;
        font-size: 12px;
    }

        /* Hover and Active Links */
        .pagination a:hover {
            background-color: #007bff;
            color: white;
        }

    /* Active Page */
    .pagination .active {
        background-color: #007bff;
        color: white;
        border-color: #007bff;
        pointer-events: none; /* Disable click on the active page */
    }

    /* Disabled Links (Previous and Next) */
    .pagination .disabled {
        color: #ccc;
        pointer-events: none;
        border-color: #ddd;
    }

    /* Add ellipsis "..." for large page numbers */
    .pagination .ellipsis {
        padding: 8px 16px;
        color: #007bff;
        pointer-events: none;
    }



