<div class="mx-0">
    <div>เพิ่มไปแล้ว <span>10</span> คน</div>
    <div class="d-flex flex-dir-row flex-wrap">
        <button class="btn btn-light d-flex flex-dir-row border-rad py-2 w-fix-240p">
            <div class="worker-img">
                <div class="img">IMAGE</div>
            </div>
            <div class="d-flex flex-dir-col fs-12 worker-details">
                <div class="px-2">014210</div>
                <div class="px-2">นวมินทร์ ศิริธราธิวัตร</div>
                <div class="px-2">M001: Create UX/UI</div>
                <div class="px-2"></div>
            </div>
            <div class="d-flex flex-dir-col justify-center hy-100 py-0">
                <span class="material-icon-symbols-outlined">arrow_right</span>
            </div>

        </button>
        <button class="btn btn-light d-flex flex-dir-row border-rad py-2 w-fix-240p">
            <div class="worker-img">
                <div class="img">IMAGE</div>
            </div>
            <div class="d-flex flex-dir-col fs-12 worker-details">
                <div class="px-2">002830</div>
                <div class="px-2">สุพัตตรา ตะเพียนทอง</div>
                <div class="px-2">M002: Coding</div>
                <div class="px-2"></div>
            </div>
            <div class="d-flex flex-dir-col justify-center hy-100 py-0">
                <span class="material-icon-symbols-outlined">arrow_right</span>
            </div>
        </button>

        <button class="btn btn-light d-flex flex-dir-row border-rad py-2 w-fix-240p">
            <div class="worker-img">
                <div class="img">IMAGE</div>
            </div>
            <div class="d-flex flex-dir-col fs-12 worker-details">
                <div class="px-2">014210</div>
                <div class="px-2">นวมินทร์ ศิริธราธิวัตร</div>
                <div class="px-2">M001: Create UX/UI</div>
                <div class="px-2"></div>
            </div>
            <div class="d-flex flex-dir-col justify-center hy-100 py-0">
                <span class="material-icon-symbols-outlined">arrow_right</span>
            </div>

        </button>
        <button class="btn btn-light d-flex flex-dir-row border-rad py-2 w-fix-240p">
            <div class="worker-img">
                <div class="img">IMAGE</div>
            </div>
            <div class="d-flex flex-dir-col fs-12 worker-details">
                <div class="px-2">002830</div>
                <div class="px-2">สุพัตตรา ตะเพียนทอง</div>
                <div class="px-2">M002: Coding</div>
                <div class="px-2"></div>
            </div>
            <div class="d-flex flex-dir-col justify-center hy-100 py-0">
                <span class="material-icon-symbols-outlined">arrow_right</span>
            </div>
        </button>

        <button class="btn btn-light d-flex flex-dir-row border-rad py-2 w-fix-240p">
            <div class="worker-img">
                <div class="img">IMAGE</div>
            </div>
            <div class="d-flex flex-dir-col fs-12 worker-details">
                <div class="px-2">014210</div>
                <div class="px-2">นวมินทร์ ศิริธราธิวัตร</div>
                <div class="px-2">M001: Create UX/UI</div>
                <div class="px-2"></div>
            </div>
            <div class="d-flex flex-dir-col justify-center hy-100 py-0">
                <span class="material-icon-symbols-outlined">arrow_right</span>
            </div>

        </button>
        <button class="btn btn-light d-flex flex-dir-row border-rad py-2 w-fix-240p">
            <div class="worker-img">
                <div class="img">IMAGE</div>
            </div>
            <div class="d-flex flex-dir-col fs-12 worker-details">
                <div class="px-2">002830</div>
                <div class="px-2">สุพัตตรา ตะเพียนทอง</div>
                <div class="px-2">M002: Coding</div>
                <div class="px-2"></div>
            </div>
            <div class="d-flex flex-dir-col justify-center hy-100 py-0">
                <span class="material-icon-symbols-outlined">arrow_right</span>
            </div>
        </button>
        <button class="btn btn-light d-flex flex-dir-row border-rad py-2 w-fix-240p">
            <div class="worker-img">
                <div class="img">IMAGE</div>
            </div>
            <div class="d-flex flex-dir-col fs-12 worker-details">
                <div class="px-2">014210</div>
                <div class="px-2">นวมินทร์ ศิริธราธิวัตร</div>
                <div class="px-2">M001: Create UX/UI</div>
                <div class="px-2"></div>
            </div>
            <div class="d-flex flex-dir-col justify-center hy-100 py-0">
                <span class="material-icon-symbols-outlined">arrow_right</span>
            </div>

        </button>
        <button class="btn btn-light d-flex flex-dir-row border-rad py-2 w-fix-240p">
            <div class="worker-img">
                <div class="img">IMAGE</div>
            </div>
            <div class="d-flex flex-dir-col fs-12 worker-details">
                <div class="px-2">002830</div>
                <div class="px-2">สุพัตตรา ตะเพียนทอง</div>
                <div class="px-2">M002: Coding</div>
                <div class="px-2"></div>
            </div>
            <div class="d-flex flex-dir-col justify-center hy-100 py-0">
                <span class="material-icon-symbols-outlined">arrow_right</span>
            </div>
        </button>

        <button class="btn btn-light d-flex flex-dir-row border-rad py-2 w-fix-240p">
            <div class="worker-img">
                <div class="img">IMAGE</div>
            </div>
            <div class="d-flex flex-dir-col fs-12 worker-details">
                <div class="px-2">014210</div>
                <div class="px-2">นวมินทร์ ศิริธราธิวัตร</div>
                <div class="px-2">M001: Create UX/UI</div>
                <div class="px-2"></div>
            </div>
            <div class="d-flex flex-dir-col justify-center hy-100 py-0">
                <span class="material-icon-symbols-outlined">arrow_right</span>
            </div>

        </button>
        <button class="btn btn-light d-flex flex-dir-row border-rad py-2 w-fix-240p">
            <div class="worker-img">
                <div class="img">IMAGE</div>
            </div>
            <div class="d-flex flex-dir-col fs-12 worker-details">
                <div class="px-2">002830</div>
                <div class="px-2">สุพัตตรา ตะเพียนทอง</div>
                <div class="px-2">M002: Coding</div>
                <div class="px-2"></div>
            </div>
            <div class="d-flex flex-dir-col justify-center hy-100 py-0">
                <span class="material-icon-symbols-outlined">arrow_right</span>
            </div>
        </button>

        <button class="btn btn-light d-flex flex-dir-row border-rad py-2 w-fix-240p">
            <div class="worker-img">
                <div class="img">IMAGE</div>
            </div>
            <div class="d-flex flex-dir-col fs-12 worker-details">
                <div class="px-2">014210</div>
                <div class="px-2">นวมินทร์ ศิริธราธิวัตร</div>
                <div class="px-2">M001: Create UX/UI</div>
                <div class="px-2"></div>
            </div>
            <div class="d-flex flex-dir-col justify-center hy-100 py-0">
                <span class="material-icon-symbols-outlined">arrow_right</span>
            </div>

        </button>
        <button class="btn btn-light d-flex flex-dir-row border-rad py-2 w-fix-240p">
            <div class="worker-img">
                <div class="img">IMAGE</div>
            </div>
            <div class="d-flex flex-dir-col fs-12 worker-details">
                <div class="px-2">002830</div>
                <div class="px-2">สุพัตตรา ตะเพียนทอง</div>
                <div class="px-2">M002: Coding</div>
                <div class="px-2"></div>
            </div>
            <div class="d-flex flex-dir-col justify-center hy-100 py-0">
                <span class="material-icon-symbols-outlined">arrow_right</span>
            </div>
        </button>
    </div>

</div>
    