.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
}
.col-30 {
    float: left;
    width: 20%;
    margin-top: 6px;
}

.col-40 {
    float: left;
    width: 40%;
    margin-top: 6px;
}

.col-20 {
    float: left;
    width: 20%;
    margin-top: 6px;
    align-items: flex-end
}

.col-10 {
    float: left;
    width: 10%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-60 {
    float: left;
    width: 60%;
    margin-top: 6px;
}

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.col-90 {
    float: left;
    width: 39%;
    margin-top: 6px;
}

.col-5 {
    float: left;
    width: 5%;
    margin-top: 6px;
}
.col-45 {
    float: left;
    width: 45%;
    margin-top: 6px;
}


/* Clear floats after the columns */
.row:after {
    background-color: #f2f2f2;
    content: "";
    display: table;
    clear: both;
}

.centerdiv {
    margin: auto;
    padding: 5px;
    padding-left:10px;
    width: 98%;
    height: 130px;
    margin: 5px;
    background-color: #bdacac24;
    border: 1px solid #a39e9e;
    border-radius: 3px;
}


    .centerdiv:hover {
        border: 1.5px solid black;
        background-color: #E5E0FF;
    }


.summarys {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-collapse: collapse;
    width: 95%;
}

    .summarys td, .summarys th {
        border: 1px solid #ddd;
        font-size: 10px;
        /*padding: 8px;*/
    }

    .summarys tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .summarys tr:hover {
        background-color: #ddd;
    }

    .summarys th {
        padding: 8px;
        text-align: center;
        background-color: #E5E0FF;
        color: black;
        font-size:11px;
        font-weight:600;

    }