@media only screen and (min-width: 1000px) {
    .home-content .content-box .content-text div.content {
        margin-left: 252px;
    }

    div.content-control {
        background-color: transparent;
    }
}

@media only screen and (max-width: 1000px) {
    .container div.input-container {
        width: 100%;
        line-height: 35px;
        display: block;
        min-width: unset;
    }
}
