@*EventOTEmailForm.js*@

<div class="container" id="OTContent_helper">
    <div class="input-container flex-dir-col wx-100 px-1 fl">
        <div class="inputset">
            <div class="unit-text fw-800 fs-12">
                <label>คุณต้องการ "นำออก" ข้อมูลที่คุณได้เลือกไปด้วยหรือไม่ (จะดำเนินการหลังอัพเดทข้อมูลสำเร็จทันที)</label>
            </div>
            <div class="form-check">
                <div class="dp-block">
                    <div class="d-flex flex-dir-row item-center justify-center hy-100 py-0 ms-4">
                        <input type="checkbox" class="w-rem-1 h-rem-1 chck-export fs-16" id="chckExport" />
                        <label>ฉันต้องการ "นำออก" ข้อมูลด้วย</label>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div class="clear-b"></div>
    @*<div class="mail-cc-list ps-2 ovf-auto-y">
        <div class="mx-0">
            <div id="divCountMailCC"><span id="spanPersonCount"></span></div>
            <div class="dp-block mh-75p ovf-auto-y" id="CCMailContent">
            </div>
        </div>
    </div>
    <div class="input-container flex-dir-col px-1">
        <div class="inputset">
            <div class="unit-text  fs-12">
                <label>หมายเหตุ</label>
            </div>
            <div class="form-check">
                <input class="form-control h-fix-30p" />
            </div>
        </div>
    </div>
    <div class="clear-b"></div>*@
</div>

<div id="footermail">
    <button type="button" class="btn btn-secondary w-fix-100p" data-bs-dismiss="modal">ยกเลิก</button>
    <button type="button" class="btn btn-light w-fix-100p btnSendSelected">ดำเนินการ</button>
</div>

