<?xml version="1.0" encoding="utf-8"?>
<configuration>
   <system.web >
    <httpRuntime maxQueryStringLength="3000000" maxUrlLength="3000000" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <!--<requestLimits maxQueryString="2097151" maxUrl="2097151" />-->
        <!--2147483647
        3000000-->
        <!--<requestLimits maxUrl ="65536" maxAllowedContentLength="4294967295" maxQueryString ="2097151" />-->
        <requestLimits maxAllowedContentLength="2147483647" maxUrl="2147483647" maxQueryString="2147483647" />
      </requestFiltering>
    </security>
   
  </system.webServer>

</configuration>
