
.tbgreen {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    border-collapse: collapse;
    width: 100%;
    overflow-y: auto;
    /*table-layout: fixed; /* ทำให้การจัดเรียงตารางเป็นแบบตายตัว */ */
}

    .tbgreen td, .tbgreen th {
        border: 0.5px solid #c8e693; /*    #D2B48C  #FFEBCD*/
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 3px;
        /*padding: 8px;*/
    }

    .tbgreen tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    .tbgreen tr:hover {
        background-color: #ddd;
    }

    .tbgreen th {
        /*padding-top: 8px;
        padding-bottom: 8px;*/
        text-align: left;
        background-color: green; /*#FFEBCD;*/
        color: black;
        /*vertical-align: baseline;*/
        text-align: center;
        vertical-align: middle;
    }

    .tbgreen thead th {
        position: sticky;
        top: 0;
        /*background-color: #007bff;
        color: white;*/
    }
